body {
    background-color: midnightblue;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: orangered;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

h2 {
    text-align: center;
}